XSD/GT_Complemento_AlmacenajeGalonaje-0.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (http://www.altova.com) by chejo (test) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ayg="http://www.sat.gob.gt/face2/ComplementoAlmacenamientoGalonaje/0.1.0" targetNamespace="http://www.sat.gob.gt/face2/ComplementoAlmacenamientoGalonaje/0.1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AlmacenamientoGalonaje">
		<xs:annotation>
			<xs:documentation>Definición Global de complemento de almacenamiento y galonaje</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Items">
					<xs:annotation>
						<xs:documentation>Items del complemento a base del detalle del DTE.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Item" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Compartimiento" minOccurs="1">
											<xs:annotation>
												<xs:documentation>
													Deberá de ingresar el compartimiento de la unidad de transporte que traslada el producto.
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="0"/>
													<xs:totalDigits value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CapacidadGalones" type="ayg:NumeroNDecimales" minOccurs="1">
											<xs:annotation>
												<xs:documentation>
													Cantidad de la capacidad en galones que tiene la unidad de transporte que traslada el producto.
												</xs:documentation>
											</xs:annotation>
										</xs:element>

										<!-- Segunda parte items -->
										<xs:element name="Descripcion" type="ayg:IDPDescripcionType" minOccurs="1">
											<xs:annotation>
												<xs:documentation>Código de la descripción seleccionada en el item del detalle relacionado.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CantidadGalonesAmbiente" type="ayg:NumeroNDecimales" >
											<xs:annotation>
												<xs:documentation>Cantidad galones ambiente</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Orden" minOccurs="1">
											<xs:annotation>
												<xs:documentation>
													El numero de orden del despacho del producto.
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="0" />
													<xs:totalDigits value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CantidadGalones60F" type="ayg:NumeroNDecimales" minOccurs="1">
											<xs:annotation>
												<xs:documentation>Cantidad galones a 60 grados farenheit.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Duca" minOccurs="1">
											<xs:annotation>
												<xs:documentation>
													El numero de la DUCA de la cual se descargara de la cuenta corriente dicho despacho.
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="NumeroLinea" use="required">
										<xs:annotation>
											<xs:documentation>Número secuencial según las filas que contenga.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:minInclusive value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="NumeroLineaMatch" use="required">
										<xs:annotation>
											<xs:documentation>Número relacional con la línea del detalle de la factura.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:minInclusive value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Marchamos">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Totales">
					<xs:complexType>
						<xs:annotation>
							<xs:documentation>Elemento con todos los totales del complemento.</xs:documentation>
						</xs:annotation>
						<xs:sequence>
							<xs:element name="TotalCantidadAmbiente" type="ayg:NumeroNDecimales">
								<xs:annotation>
									<xs:documentation>Es la suma de la columna cantidad de galones ambiente.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Version" type="ayg:VersionType" use="required" fixed="1"/>
		</xs:complexType>
	</xs:element>
	
	
	<xs:simpleType name="VersionType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}">
				<xs:annotation>
					<xs:documentation>por ejemplo. x , donde x  es  numero entero de 0 a 999</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NonNegativeFloat">
		<xs:annotation>
			<xs:documentation>Acepta cantidades mayores a 0</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IDPDescripcionType">
		<xs:annotation>
			<xs:documentation>Catálogo de productos: 1. Gasolina superior, 2. Gasolina regular, 3. Gasolina de aviación, 4. Diésel, 5. Gas Oil, 6. Kerosina (DPK), (Avjet, turbo fuel), 
				7. Nafta, 8. Fuel Oil (Bunker C), 11. Petróleo crudo usado como combustible,
				12. Otros combustibles derivados del petróleo, 13. Asfaltos, 14. Exento, 15. Diésel bajo en azufre
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NumeroDosDecimales" final="">
		<xs:annotation>
			<xs:documentation>Acepta cantidades mayores a 0</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="NumeroNDecimales" final="">
		<xs:annotation>
			<xs:documentation>Acepta cantidades mayores a 0</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="10"/>
			<xs:totalDigits value="30"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>